body{
	background-image: url("PIXNIO-2247216-6000x4000-2.jpg");
	 background-size: cover;
}

#navbar{
	justify-content: center;
	font-family: 'Bahnschrift', sans-serif;
	font-size: 20px;
	padding-top: 25px;
	display: flex;
    align-items: flex-start;
}

#main_content{
	color: white;
	text-align: right;
	font-family: 'Bahnschrift', sans-serif;
	font-size: 60px;
	transform:translate(-50%, 80%);
}

@media screen and (max-width: 900px) {
	#main_content{
		text-align: center;
		transform:translateY(40%);
	}
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: visible;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
}

#see_kits_button a{
	font-size:25px;
	border:2px solid white;
	display:inline;
	margin:0px;
	padding:3px;
}

#see_kits_button  :hover{
	text-shadow:none;
	background-color:white;
	color:black;
}

a {
	text-decoration: none;
	color: white;
}

#navbar a:hover {
	border-bottom:2px solid white;
	margin-bottom:-2px;
}

#text{
	background-color:black;
	color:white;
	font-family: 'Bahnschrift', sans-serif;
	font-size:25px;
	padding: 10px;
	margin: 50px;
}

#main_content{
	text-shadow: 0 0 2px black;
}

#navbar{
	text-shadow: 0 0 2px black;
}